@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --default: 0 0% 0%;
  --primary: 245 55% 40%;
   --primary-foreground: 0 0% 100%;

  --secondary: 0 0% 0%;
  --secondary-foreground: 0 0% 100%;

  --info: 199 89% 48%;
  --success: 142 71% 45%;
  --danger: 0 84% 60%;
  --warning: 38 92% 50%;

  --muted: 215 16% 47%;
   --background: 220 13% 96%;
  --foreground: 222 47% 11%;
}

.dark {
  --default: 0 0% 100%;

  --primary: 245 70% 60%;
  --primary-foreground: 0 0% 100%; 

  --secondary: 222 47% 11%;
  --secondary-foreground: 0 0% 100%;

  --info: 199 89% 60%;
  --success: 142 71% 55%;
  --danger: 0 84% 65%;
  --warning: 38 92% 60%;

  --muted: 215 16% 65%;
  --background: 222 47% 11%;
  --foreground: 0 0% 100%;
}
